      <div class="intro-index">
          <div class="container">
        <div class="row">
        <% @tracks.each do |track| %>
        <div class="col-xs-6 col-lg-3">
          <div class="thumbnail">
            <%= link_to (image_tag track.image.url(:medium), class: 'image'), track %>
          </div>
        </div>
      <% end %>
      </div>
      <% if user_signed_in? %>
      <div class="jumbotron">
      <p class="lead">We are glad to have you back to Bayside Vinyl, <%= current_user.username %>. As always, we are looking to change your idea of vinyl record shopping. </p>
      <hr class="my-4">
      <%= button_to "New Track", new_track_path, method: :get, class: "btn btn-custom" %>
    </div>
    <% else %>
    <div class="jumbotron">
    <p class="lead">We are Bayside Vinyl and we are looking to change your idea of vinyl record shopping.</p>
    <hr class="my-4">
    <li>
      <%= button_to "New Track", new_user_session_path, class: "btn btn-custom" %>
  </li>
      </div>
  </div>
    <% end %>
      </div>
