      <div class="intro-index">
          <div class="container">
        <div class="row">
        <% @tracks.each do |track| %>
        <div class="col-xs-6 col-lg-3">
          <div class="thumbnail">
            <%= link_to (image_tag track.image.url(:medium), class: 'image'), track %>
          </div>
        </div>
      <% end %>
      </div>
      </div>
      <%= link_to 'New Track', new_track_path %>
      </div>
