<%= render 'form', track: @track %>

<div class="container">
    <header class="formpage">
        <div class="row">
            <%= link_to 'Back', tracks_path %>
        </div>
    </header>
</div>
