<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="sega">Sega</h1>
                    <h1 class="paradise">Paradise</h1>
                </div>
                <% @vinyls.each do |vinyl| %>
                <div class="col-xs-6 col-md-3">
                  <div class="thumbnail">
                    <%= link_to (image_tag vinyl.image.url(:medium), class: 'image'), vinyl %>
                  </div>
                </div>
                <% end %>
            </div>
        </div>
</div>
</header>
