/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 @import "font-awesome-sprockets";
 @import "font-awesome";


 @font-face {
   font-family: 'CaviarDreams';
   src: font-url('CaviarDreams_Bold.ttf');
   src: font-url('CaviarDreams_Bold.ttf?iefix') format('truetype');
 }


body {
  background-color: #B1D7C8;
}

/* Navbar */
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(#B1D7C8, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #B1D7C8;
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: #6D5E4C;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: #6D5E4C;
    }

.nav {
    li {
        a {
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;
            &:hover {
                color: rgba(white, 0.8);
                outline: none;
                background-color: transparent;
            }
            &:focus,
            &:active {
                outline: none;
                background-color: transparent;
            }
        }
        &.active {
    outline: none;
    a {
        background-color: rgba(white, 0.3);
        &:hover {
            color: white;
        }
    }
}
}
}

      @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
          &.top-nav-collapse {
          padding: 0;
          background: #B1D7C8;
          border-bottom: 1px solid rgba(white, 0.3);
          }

        }
      }


  /*form styling */
  .formpage {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: black;
    background: image-url("") no-repeat bottom center scroll;
    background-color: #B1D7C8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

  .entirepanel {
    padding-top: 750px;
  }

  .logo-heading-form {

  }

  .panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 0px none;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .panel > .panel-heading {
      background-image: none;
      background-color: #8A7D6D;
      color: white;

  }

  .panel-body {
    background-color: #B1D7C8;
  }


 /* Small devices (tablets, 768px and up) */
  @media (max-width:768px) {
    .entirepanel {
      padding-top: 100px;
    }

  }

/* Medium devices (tablets, 992px and down) */
  @media (max-width: 992px) {
    .entirepanel {
      padding-top: 100px;
    }
  }
