// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Home Page */

img {
  max-width: 100%;
  height: auto;
}

.intro {
     display: table;
     width: 100%;
     height: auto;
     padding: 100px 0;
     text-align: center;
     color: white;
     text-shadow: 5px 10px 10px black;
		 background: image-url("Baysidehome.jpg") no-repeat bottom center scroll;
		 background-color: #B1D7C8;
		 -webkit-background-size: cover;
		 -moz-background-size: cover;
		 background-size: cover;
		 -o-background-size: cover;
}

.jumbotron {
    background-color:transparent !important;
}

/* Font for "Welcome!" */
.Hi {
  font-family: 'CaviarDreams',sans-serif;
}


/* Button for Hit-or-Miss app */
.button {
  border-radius: 4px;
  background-color: #6D5E4C;
  box-shadow: 4px 5px 4px black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Span class */
.text-muted {
  color: #776D60;
}

/* Paragraph styling for each section */
.homeparagraph{
  color: #fff;
}

/* links in paragraphs */
a.linkvinyl:link {color:#79745e;}
a.linkvinyl:visited {color:#79745e;}
a.linkvinyl:hover {color:#688c7e;}

/* Footer */
.footer {
   text-align: center;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .featurette-heading {
    font-size: 50px;
  }
  .logo-heading {
      background-size: 290px 290px;
    }

}


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
